*, *:before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.main {
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-height: 799px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 15s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url(1598.jpg);
}
@keyframes slideBg {
    0% {
        background-image: url(1598.jpg);
    }
    25% {
        background-image: url(2891.jpg);
    }
    50% {
        background-image: url(1598.jpg);
    }
    100% {
        background-image: url(2891.jpg);
    }
} 
.main-overlay{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 0;
    background: linear-gradient(178.1deg, #FFFFFF 2.81%, rgba(255, 255, 255, 0) 99.3%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
} 
.header {
    height: 10vh;
    min-width: 100% ;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}
.logo img{
width: 70px;
height: 70px;
}
.menu {
    width: 60%;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.mmenuLink {
    color: black;
    text-decoration: none;
}